<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        {{ base|raw }}
{% for meta_tag in meta_tags %}
        {{ meta_tag|raw }}
{% endfor %}
        <!-- CSS -->
{{ laracss()|raw }}
    </head>
    {{ body|raw }}
    <body{{ body_attributes?' '~body_attributes|raw : '' }}>
{{ layout|raw }}
<!-- JS -->
{{ larajs()|raw }}
    </body>
</html>